<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="YOUR_PACKAGE"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="APP_NAME">
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        <!-- activities -->
        <activity
            android:name="com.playnomics.android.unity.MainActivity"
            android:label="Playnomics Unity" 			  
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
  			<meta-data android:name="android.app.lib_name" android:value="unity" />
  			<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- push receiver -->
        <meta-data android:name="com.playnomics.android.push.GCM_SENDER_ID"
     	   android:value="SENDER_ID"/>
        <receiver
            android:name="com.playnomics.android.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="YOUR_PACKAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.playnomics.android.push.PUSH_OPENED" />
                <category android:name="YOUR_PACKAGE" />
            </intent-filter>
        </receiver>
        <!-- push background service -->
        <service android:name="com.playnomics.android.push.GcmIntentService" />
    </application>
</manifest>
